<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fees Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
</head>

<body>
    <div class="container-fluid">
        <header class="row text-white" style="background-color: darkblue;">
            <div class="col-6 col-sm-6 col-md-9">
                <h4 class="p-4 pt-4">BHARATHIDASAN UNIVERSITY</h4>
            </div>
            <div class="dropdown-alignment col-6 col-sm-6 ps-5 col-md-3 text-end">
                <img style="height: 100px; width: 180px;" src="download1.png" alt="">
            </div>
        </header>
        <div class="row vh-100">
            <!-- Sidebar -->
            <div class="col-2 bg-light border-end d-flex flex-column sidebar">
                <div class="container-fluid">
                    <ul class="nav flex-column nav-pills mb-auto p-1">
                        <li class="nav-item">
                            <a class="nav-link" id="list-dashboard-tab" href="dashboard.html">
                                <i class="bi bi-speedometer2 me-2"></i> Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" id="list-students-tab" href="fees_details.html">
                                <i class="bi bi-card-text"></i> Fees Details
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="list-fees-tab" href="students.html">
                                <i class="bi bi-people-fill me-2"></i> Students
                            </a>
                        </li>
                        <li class="nav-item d-flex position-fixed bottom-0">
                            <a href="logout.html" class="btn btn-danger">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Page Content -->
            <div class="col-10">
                <div class="tab-pane fade show active" id="list-students" role="tabpanel"
                    aria-labelledby="list-students-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 mt-4">
                                <form class="row g-2 mb-4">
                                    <div class="col-md-2">
                                        <select class="form-select" id="branchSelect">
                                            <option selected>Course</option>
                                            <option value="MCA">MCA</option>
                                            <option value="MSC Computer Science">MSC Computer Science</option>
                                            <option value="MSC Data Science">MSC Data Science</option>
                                            <option value="MSC Artificial Intelligence">MSC Artificial Intelligence
                                            </option>
                                            <option value="M.TECH">M.TECH</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <select class="form-select" id="yearSelect">
                                            <option selected>Year</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <select class="form-select" id="feeTypeSelect">
                                            <option selected>Select Fee Type</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <input class="form-control" type="search" placeholder="Reference ID"
                                            aria-label="Search">
                                    </div>
                                    <div class="col-md-2">
                                        <input class="form-control" type="date" placeholder="Date" aria-label="Search">
                                    </div>
                                    <div class="col-md-1 d-grid">
                                        <button class="btn btn-outline-success" type="submit">Search</button>
                                    </div>
                                    <div class="col-md-1 d-grid">
                                        <button class="btn btn-outline-danger" type="button">Export</button>
                                    </div>
                                </form>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Reference_id</th>
                                                <th>Register_no</th>
                                                <th>Type_of_fees</th>
                                                <th>Semester_no</th>
                                                <th>Paid_date</th>
                                                <th>Fees_amount</th>
                                                <th>Submitted_date</th>
                                                <th>Status</th>
                                                <th>Receipt</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in page_obj %}
                                            <tr>
                                                <td>{{item.reference_id}}</td>
                                                <td>{{item.student_id.register_no}}</td>
                                                <td>{{item.type_of_fees}}</td>
                                                <td>{{item.semester_number}}</td>
                                                <td>{{item.paid_date}}</td>
                                                <td>{{item.fees_amount}}</td>
                                                <td>{{item.receipt_submitted_date}}</td>
                                                <td>{{item.receipt_status}}</td>
                                                <td>
                                                    <button class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                                        data-bs-target="#pdfModal">View</button>
                                                </td>
                                            </tr>


                                            {% endfor %}
                                            <!-- Additional student rows can be added here -->
                                        </tbody>
                                    </table>
                                    <div class="pagination">
                                        <span class="step-links">
                                            {% if page_obj.has_previous %}
                                            <a href="?page=1">&laquo; first</a>
                                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                                            {% endif %}

                                            <span class="current">
                                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                            </span>

                                            {% if page_obj.has_next %}
                                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-info">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <!-- Additional content can be added here -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="pdfModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="pdfModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="pdfModalLabel">PDF</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <iframe id="receiptEmbed" src="" width="100%" height="300px"></iframe>
                </div>
                <div class="modal-footer">
                    {% csrf_token %}
                    {% for item in page_obj %}
                    <input type="hidden" name="reference_id" value="{{ item.reference_id }}"
                        id="reference-id-{{ item.reference_id }}">

                    <input type="hidden" name="receipt_status" id="status-accept-{{ item.reference_id }}" value="ACC">
                    <button class="btn btn-success" hx-post="{% url 'update_fees_receipt_status' %}"
                        hx-target="#status-{{ item.reference_id }}"
                        hx-include="#reference-id-{{ item.reference_id }}, #status-accept-{{ item.reference_id }}, [name='csrfmiddlewaretoken']">Accept
                    </button>

                    <input type="hidden" name="receipt_status" id="status-reject-{{ item.reference_id }}" value="REJ">
                    <button class="btn btn-danger" hx-post="{% url 'update_fees_receipt_status' %}"
                        hx-target="#status-{{ item.reference_id }}"
                        hx-include="#reference-id-{{ item.reference_id }}, #status-reject-{{ item.reference_id }}, [name='csrfmiddlewaretoken']">Reject
                    </button>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script>
        document.getElementById('branchSelect').addEventListener('change', function () {
            const yearSelect = document.getElementById('yearSelect');
            yearSelect.innerHTML = ''; // Clear existing options

            if (this.value === 'M.TECH') {
                for (let i = 1; i <= 6; i++) {
                    const option = document.createElement('option');
                    option.value = i;
                    option.text = i;
                    yearSelect.appendChild(option);
                }
            } else {
                ['1', '2'].forEach(year => {
                    const option = document.createElement('option');
                    option.value = year;
                    option.text = year;
                    yearSelect.appendChild(option);
                });
            }
        });

        document.getElementById('yearSelect').addEventListener('change', function () {
            const feeTypeSelect = document.getElementById('feeTypeSelect');
            feeTypeSelect.innerHTML = ''; // Clear existing options

            const year = parseInt(this.value);

            if (!isNaN(year)) {
                for (let i = 1; i <= 2; i++) {
                    const semesterOption = document.createElement('option');
                    semesterOption.value = `Semester ${2 * (year - 1) + i}`;
                    semesterOption.text = `Semester ${2 * (year - 1) + i}`;
                    feeTypeSelect.appendChild(semesterOption);

                    // const examOption = document.createElement('option');
                    // examOption.value = `Exam ${2 * (year - 1) + i}`;
                    // examOption.text = `Exam ${2 * (year - 1) + i}`;
                    // feeTypeSelect.appendChild(examOption);
                }
            }
        });

        updateSemesterOptions();
        document.addEventListener('DOMContentLoaded', function () {
            var modal = document.getElementById('pdfModal');
            modal.addEventListener('show.bs.modal', function (event) {
                var button = event.relatedTarget;
                var url = button.getAttribute('data-bs-url');
                var modalTitle = modal.querySelector('.modal-title');
                var modalBodyEmbed = modal.querySelector('#receiptEmbed');

                modalTitle.textContent = 'Receipt';
                modalBodyEmbed.setAttribute('src', url);
            });
        });
    </script>
</body>

</html>